* {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif; }

body {
  position: relative; }
.note{
width:100%;
height:auto;
background-color:#e74c3c;
padding:10px;
box-sizing: border-box;
  position:fixed;
  top:0px;
  left:0px;
  z-index:9999;
}
.note h1 {
  color:white;
  font-size:15px;
.navigation {
  width: 100%;
  height: 75px;
  background-color: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  z-index:99;
  position: fixed;
  transition: all 0.3s; }
  .navigation img {
    margin-left: 10px; }
  .navigation .navi {
    position: absolute;
    right: 0px;
    margin-right: 5px; }
    .navigation .navi a {
      text-decoration: none;
      color: black;
      margin-right: 10px;
      padding: 5px;
      font-weight: 300; }

.hero {
  margin-top: 75px;
  background-position: center;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-color: #1F1F23;
  width: 100%;
  height: 450px;
  box-sizing: border-box;
  padding: 15px;
  background-color: tomato;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .hero h1 {
    color: white;
    font-size: 50px;
    font-weight: 500;
  margin-bottom: 10px;
margin-top: 15px;}
  .hero p {
    color: white;
    font-weight: 300;
    font-size: 25px;
    letter-spacing: 1px; }

.ihold {
  width: 100%;
  height: 1000px;
  box-sizing: border-box;}
  .ihold .item {
    box-sizing: border-box;
    width: 100%;
    height: 250px;
    border: 1px solid #C7CBD4;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    transition: all 0.3s; }
    .ihold .item:hover {
      border: solid 1px #F12E29;
      cursor: pointer; }
    .ihold .item h1 {
      color: #F12E29;
      font-size: 20px;
      margin-top: 10px; }
    .ihold .item p {
      color: #E8534F;
      font-weight: 300; }

@media screen and (min-width: 1000px) {
  .ihold {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 250px; }
    .ihold .item {
      width: 25%; } }

.gall {
  width: 100%;
  height: 300px;
  background-image: url("images/mon.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-direction: column; }
  .gall h1 {
    color: white;
    font-weight: 500;
    letter-spacing: 1px; }
  .gall a {
    margin-top: 10px;
    font-weight: 300;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 30px;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    transition: all 0.3s; }
    .gall a:hover {
      background-color: white;
      color: black; }

.madeby {
  width: 100%;
  padding: 10px;
  box-sizing: border-box; }
  .madeby h1 {
    font-size: 20px;
    color: #F12E29;
    font-weight: 300;
    text-align: center; }
